* {
    background-color: #383838;
}   
img {
    width: 550px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}

.GPU {
    width: 550px;
    height: 150px;
    display: block;
    margin-left:  10%;
    margin-right: auto;
    width: 18%;
}
p {
 color: white;
 margin-left: 12%;
    font-size: 200%
}
.CPU {
    width: 550px;
    height: 150px;
    display: block;
    margin-left:  10%;
    margin-right: auto;
    width: 18%;
}
p2 {
 color: white;
 margin-left: 9%;
    font-size: 200%
}